.nav-item{
    padding-right: 80px;
    
}
a.navbar-brand{
    margin-right:350px;
}
.navbar-brand img{
    width:60px;
    width:60px;
    border-radius: 50%;
    opacity: 0.8;
    color:black;
}
img.d-block{

    height:400px;
}